@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(assets/fonts/Orbitron-VariableFont_wght.ttf);
}

/* Hide scrollbars for all browsers */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* Always show scroll space */
  scroll-behavior: smooth; /* Smooth scrolling */
  background-color: #EFF4FB; /* Light gray background */
}

/* Chrome, Safari and Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbars for specific elements */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
